/* Resolución para tablets. 768 x 1024 */
@media(min-width: 768px) and (max-width: 1023px) { 
    
    #panCom {width: 768px; 
        height: 410px;
        z-index: 1;
        margin: 0 auto;
        overflow: hidden;
    }
    #panCom video { width: 768px; /* 0.75*/
        height: 410px;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        opacity: 0.5;
    }

     /* ----------------------Cuerpo superior --------------------- */

     header { width: 100%;
        height: 97px;
        background-color: transparent;
    }
    /*----- Barra superior -----*/

        div#supIzq { 
            height: inherit;
            float: left;
            margin-left: 22px;
            padding-top: 15px;
            width: 330px;
    
        }
        div#supDer { width: 35%;
            text-align: right;
            float: right;
            margin-right: 22px;
            height: inherit;
            padding-top: 15px;
        }
        div#supDer a {font-size: 12px;}
        p#contacto { font-size: 15px;
            color: white;
        }
        p#contacto a {text-decoration: none;
            color: white;
        }
        #barSup { width: 100%;
            height: 57px;
            background-color: black;
        }

        a.fac{ background: #868d9c;
            color: white;
            padding: 2px 5.5px;
        }
        a.twi{ background: #1da1f2;
            color: white;
            padding: 2px 3px;
        }
        a.gop{ background: #34a853;
            color: white;
            padding: 2px 1.5px;
        }
        a.lin{ background: #0077b5;
            color: white;
            padding: 2px 3.75px;
        }
        a.pin{ background: #bd081c;
            color: white;
            padding: 2px 5.25px;
        }

        /*----- Barra inferior -----*/
        div#barInf {width: 100%;
            height: 54px;
            color: white;
        }

        div#logFig {width: 40px;
            height: 40px;
            border-radius: 50%;
            background: radial-gradient(red, blue);
            font: bold 17px elfont;
            text-align: center;
            line-height: 40px;
            color: yellow;
            box-shadow: 5px 5px 15px black;
            
        }
        div#logo { font: normal 45px miFont;
            text-shadow: 5px 5px 15px white;
            position: relative;
            top: -42px;
            left: 45px;
            display: inline;
        }

        /* ---- Barra de navegación --- */
        nav {position: relative;
            float: right;
            top: -26px;
            right: 20px;
        }
        
        nav ul li {display: inline;
            list-style: none;
        }

        nav ul li#menCol {visibility: hidden;
        }
        li#menCol img { 
            height: 5px;
            width: 5px;
            
        }
        nav ul li a {color:white;
            font: bold 15px verdana;
            text-decoration: none;
            padding: 2px 15px;
            margin-left: 10px;
        }
        nav ul li a[href="#"] { /*background: green;*/
            border: 1px solid white;
            border-radius: 4px;
            box-shadow: 3px 3px 15px orange;
            
        }
        nav ul li a:hover {color: white;}
        nav ul li a[href="#"]:hover { color: white;
            cursor:default;
        }

        /* -------------- Cuerpo ----------------- */
        section { width: 768px;
            height: 312px;
            position: absolute;
            overflow: hidden;
            
        }

        section div {margin-top: 88px; 
            width: 735px;
            color: white;
            height: 150px;
           margin-left: 768px;
           position: absolute;
           opacity: 0;
           
        }
        section div h1 {font: bold 34px arial;
            margin-left: 30px;
        }
        section div p { font: normal 16px verdana;
            width: 469px;
        }
        section div p a.botBan{ background: #82B440;
            text-decoration: none;
            padding: 4px 15px;
            color: white;
            margin-left: 22px;
            position: relative;
        }
        
        
        #sliUno { 
            animation-name: priSli;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            
        }
        #sliDos { 
            animation-name: segSli;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            
        }
        #sliTre {
            animation-name: terSli;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        #sliCua { 
            animation-name: cuaSli;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        #sliQui { 
            animation-name: quiSli;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        
        
        @keyframes priSli {
            4% {margin-left: 1280px; }
            5.5% {opacity: 0;}
            8% {margin-left: 15px; opacity: 1;}
            16% {margin-left: 15px; opacity: 1;}
            18.5% {opacity: 0;}
            20% {margin-left: 1280px; }
            100% {margin-left: 1280px;}
        }
        @keyframes segSli {
            24% {margin-left: 1280px; }
            25.5% {opacity: 0;}
            28% {margin-left: 15px; opacity: 1;}
            36% {margin-left: 15px; opacity: 1;}
            38.5% {opacity: 0;}
            40% {margin-left: 1280px;}
            100% {margin-left: 1280px;}
        }
        @keyframes terSli {
            44% {margin-left: 1280px;}
            45.5% {opacity: 0;}
            48% {margin-left: 15px; opacity: 1;}
            56% {margin-left: 15px; opacity: 1;}
            58.5% {opacity: 0;}
            60% {margin-left: 1280px;}
            100% {margin-left: 1280px;}
        }
        @keyframes cuaSli { 
            64% {margin-left: 1280px;}
            65.5% {opacity: 0;}
            68% {margin-left: 15px; opacity: 1;}
            76% {margin-left: 15px; opacity: 1;}
            78.5% {opacity: 0;}
            80% {margin-left: 1280px;}
            100% {margin-left: 1280px;}
        }
        @keyframes quiSli { 
            84% {margin-left: 1280px;}
            85.5% {opacity: 0;}
            88% {margin-left: 15px; opacity: 1;}
            96% {margin-left: 15px; opacity: 1;}
            98.5% {opacity: 0;}
            100% {margin-left: 1280px;}
        }
        


    /* ----------------------Cuerpo inferior --------------------- */



    #comPan { width: 768px;
        height: 200px;
        background: black;
        margin: 0 auto;
    }

    
    /* -------- links -------- */
    .links { background: #2F3640;
        color: #0D6EFD;
        font-size: 13px;
        padding: 25px 0;
        text-align: center;
        height: 135px;
    }
    .links ul {  width: 187px;
        display: inline-block;
        margin: 0 25px;
        text-align: left;
        
    }
    .links ul li {list-style-type: none;}
    .links ul li h3 {font-size: 18px;}
    .links ul li a {text-decoration: none;}
    

    footer {text-align: center;
        color: white;
        padding-top: 15px;
        height: 70px;
    }
    footer p {padding: 0;
        margin: 0;
        font: bold 15px "BankGothic Md BT";
        color: gray;
    }


    /*-------Página misTra.html---------------*/
    #conTra { text-align: center;
        padding-top: 15px;
        color: white;
    }
    #conTra article { width: 180px;
        height: 270px;
        display: inline-block;
        margin: 5px 4px;
       
    }

    #conTra article h3 { font-family: Arial, Helvetica, sans-serif;
        text-shadow: 3px 3px 15px white;
        font-size: 18px;
        
    }
    #conTra article img { width: 180px;
        height: 90px;
        margin: 2px 0;
    }
    #conTra article p { font: normal 11.5px arial;
        margin-bottom: 8px;
        margin-top: 6px;
    }
    #conTra article a {
        font-size: 11px;
    }
        /*-------------------Página misTra.html-----------------------*/

        #conSer { width: 768px;
            height: 312px;
            
        }
        #conSer img { width: 360px;
            height: 144px;
            display:inline-block;
            margin-top: 75px;
            margin-left: 30px;
        }
    
        #conSer div { display: block;
            opacity: 1;
            width: 320px;
            height: 54px;
            
        }
        #conSer #serUno {top: -55.4px;
            left: -428px;
        }
        #conSer #serDos {top: 7px;
            left: -387px;
        }
        #conSer #serTre {top: 69.4px;
            left: -356px;
        }
        #conSer #serCua {top: 131.8px;
            left: -387px;
        }
        #conSer div h4 { padding-bottom: 1.5px;
            border-bottom: 2px solid blue;
            font-size: 15px;
        }
        #conSer div p { font: normal 11px Verdana;
            width: 100%;
           margin-top: -6px;
        }


}
